.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.App > div {
  display: grid;
  place-items: center;
}
.App > div > img {
  width: 50%;
}
.App > div > h2 {
  margin: 0;
}
.App > div > a {
  margin: 0;
  text-decoration: none;
}